@model IEnumerable<NeighborhoodMarket.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var Product in Model)
            {
                <div class="container-fluid">
                    <div class="row pb-3">

                    </div>
                </div>
            }
